name: Release

on:
  push:
    branches:
      - main

permissions: {}

jobs:
  release:
    if: github.repository == 'torotask/torotask'
    permissions:
      contents: write # to create release (changesets/action)
      pull-requests: write # to create pull request (changesets/action)
      id-token: write #  required for provenance and oidc publish
    # prevents this action from running on forks
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Prepare
        uses: ./.github/actions/prepare
        with:
          build: true

      - name: update npm
        run: npm update -g npm # temporary until setup-node action comes with npm version that contains oidc setup by default

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          version: pnpm version:packages
          publish: pnpm publish:packages
          commit: "[ci] release"
          title: "[ci] release"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
